<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    
    <add name="stand" connectionString="WTSOGSXbS13tk5R9k4MMaNCMGCHiI/QvVxxnGwAjZu4ls5t48KJn+duEhExdCXR1+7c08MaxPha5oGeIaOlU2YPJmOT6LN/e1ACEAQtSiiovhMlUekniu5rD+nShUoP5r7tmmQJrZ1WsKeteJTPfUGbxgT/NHCv330Dsh3JWTrISMmVTsH0afQ=="
 providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>